[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adheRenceRX"]
	path = adheRenceRX
	url = https://github.com/btbeal/adherencerx
